<div class="row">
    <div class="col offset-s3 s6">
        <div class="card">
            <div class="card-content">
                <form method="POST" action="/dashboard/register">
                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="Your Fullname" id="fullname" type="text" class="validate"
                                name="fullname">
                            <label for="fullname">Full Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="E-mail Address" id="email" type="email" class="validate" name="email">
                            <label for="email">E-mail</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="Your Password" id="password" type="password" class="validate"
                                name="password">
                            <label for="password">Password</label>
                        </div>
                    </div>

                    <button type="submit" class="waves-effect waves-light btn">create new account</button>
                </form>
            </div>
        </div>
    </div>
</div>