<div class="container">
    <h4>About Page</h4>
    <p>Bootstrap may be a free and ASCII text file forepart development framework for the creation internetsites|of internet sites} and web apps.
    The Bootstrap framework is constructed on markup language, CSS, and JavaScript (JS) to facilitate the event of responsive, 
    mobile-first sites, and apps.</p>
    
    <p>Responsive style makes it doable for an online page or app to observe the visitor’s screen size and orientation and mechanically 
    adapt the show accordingly; the mobile-first approach assumes that smartphones, tablets, and task-specific Mobile apps ar employees' primary tools for obtaining work done and 
    addresses the necessities of these technologies in style.</p>
    
    <p>Bootstrap includes computer programme parts, layouts, and JS tools in conjunction with the framework for implementation.
    The computer code is offered precompiled or as ASCII text file.</p>
    
    <p>Mark Otto and Jacob William Thornton developed Bootstrap at Twitter as a method of rising the consistency of tools used on the positioning and reducing maintenance.
    The computer code was once referred to as Twitter Blueprint and is usually cited as Twitter</p>
</div>
