<div class="container">
    <h4>Contact Us</h4>
    <div class="row">
        <div class="input-field col s6">
            <input placeholder="Enter First Name" id="first_name" type="text" class="validate">
            <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
            <input placeholder="Enter Last Name" id="last_name" type="text" class="validate">
            <label for="first_name">First Name</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12">
            <input placeholder="Enter E-mail" id="email" type="text" class="validate">
            <label for="first_name">E-mail Address</label>
        </div>
    </div>

    <div class="row">
        <div class="col s12 input-field">
            <textarea id="textarea1" class="materialize-textarea" placeholder="Enter Feedback"></textarea>
            <label for="textarea1">Your Feedback</label>
        </div>
        <button class="waves-effect waves-light btn" type="submit">Send Message</button>
    </div>
</div>
</div>
